
DMTestWebAuto/.history/
DMTestWebAuto/.vs/
DMTestWebAuto/.vscode/
DMTestWebAuto/DMTestWebAuto.CLI/bin/
DMTestWebAuto/DMTestWebAuto.CLI/obj/
DMTestWebAuto/DMTestWebAuto.Compilador.Test/bin/
DMTestWebAuto/DMTestWebAuto.Compilador.Test/obj/
DMTestWebAuto/DMTestWebAuto.Compilador/obj/
DMTestWebAuto/DMTestWebAuto.Compilador/bin/
DMTestWebAuto/DMTestWebAuto.WebDriver.Test/bin/
DMTestWebAuto/DMTestWebAuto.WebDriver.Test/obj/
DMTestWebAuto/DMTestWebAuto.WebDriver/bin/
DMTestWebAuto/DMTestWebAuto.WebDriver/obj/
